* {
    box-sizing: border-box;
}

body {
    font-family: Trebuchet MS;
    margin: 0;
    padding: 0;
    background-color: LemonChiffon;
    overflow-y: auto;
}

header {
    background-color: #154c79;
    color: ivory;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

header img {
    height: 120px;
    width: auto;
}

.header-title {
    flex-grow: 1;
    font-size: 50px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 5px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

nav a {
    margin: 0 15px;
    color: #6F8FAF;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    transition: color 0.3s, border-bottom 0.3s;
}

nav a:hover {
    color: #154c79;
    border-bottom: 2px solid #154c79;
}

@media (max-width: 768px) {
    nav a {
        margin: 0 10px;
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    nav a {
        margin: 0 5px;
        font-size: 12px;
    }
}

.account img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: linen;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.account:hover .dropdown {
    display: block;
}

.hero {
    background-color: #254f6d;
    color: #f5f5e8;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 5px;
}

.hero p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 52px;
    letter-spacing: 1.7px;
}

.container {
    background-color: white;
    color: #1f4c79;
    border-radius: 20px;
    width: 90%;
    max-width: 450px;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.form-header h1 {
    font-size: 2rem;
    color: #1f4c79;
    font-weight: 600;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

button {
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    background-color: #1f4c79;
    color: white;
}

.google-login {
    background-color: #db4437;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
